<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <p class="navbar-item">PFA Manager</p>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="/auth/signup">
                                <strong>Sign up</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <hr>
        <div class="container is-max-desktop">

            {% if error %}
            <div class="notification is-danger is-light box">
                Error: {{ error }}
            </div>
            {% endif %}

            <form action="/auth/login" method="post" class="box">
                <div class="field">
                    <label class="label">Email
                        <div class="control">
                            <input class="input" type="email" placeholder="e.g. john.doe@example.com" id="username"
                                name="username" required />
                        </div>
                    </label>
                </div>

                <div class="field">
                    <label class="label">Password
                        <div class="control">
                            <input class="input" type="password" placeholder="********" id="password" name="password"
                                required />
                        </div>
                    </label>
                </div>
                <button class="button is-primary">Sign in</button>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            </form>
        </div>
    </section>
</body>
<footer>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            // document.querySelectorAll returns a NodeList, which is iterable
            const $navbarBurgers = document.querySelectorAll('.navbar-burger');

            // Add a click event on each of them using for...of
            for (const el of $navbarBurgers) { // Iterate directly over the NodeList
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            }

        });
    </script>
</footer>

</html>