{% include 'base/header.html' %}

<body>
    <section class="section">
        <nav>
            <ul>
                <li><a class="button is-primary is-outlined" href="/clients/{{ client_id }}/contracts">Back</a></li>
            </ul>
        </nav>
        <hr>
        <div class="container is-max-desktop">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="notification is-success is-light box">
                <li>
                    {{ message }}
                </li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% if error %}
            <div class="notification is-danger is-light box">
                Error: {{ error }}
            </div>
            {% endif %}
            {% if contract %}
            <form action="/clients/{{ contract.client_id }}/contracts/{{ contract.id }}/edit" method="post" class="box">
                <div class="field">
                    <label class="label" for="contract_no">Contract No. *</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="AS/186587435/01.01.1970" id="contract_no" name="contract_no" value="{{ contract.contract_no }}" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="start_date">Start Date *</label>
                    <div class="control">
                        <input class="input" type="date" id="start_date" name="start_date" value="{{ contract.start_date }}" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="end_date">End Date *</label>
                    <div class="control">
                        <input class="input" type="date" id="end_date" name="end_date" value="{{ contract.end_date }}" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Services for IT audit" id="description"
                        name="description" value="{{ contract.description }}">
                    </div>
                </div>
                
                <div class="field">
                    <label class="label" for="cloud_storage_url">Cloud Storage URL</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="https://onedrive.live.com/..." id="cloud_storage_url" name="cloud_storage_url" value="{{ contract.cloud_storage_url }}">
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary">Submit</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>

    </section>
</body>

{% include 'base/footer.html' %}
