<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    PFA Manager
                </a>
                <button class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"
                    type="button">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/clients">
                        Clients
                    </a>

                    <a class="navbar-item" href="/invoices">
                        Invoices
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            My Username
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="#">
                                Edit
                            </a>
                            <a class="navbar-item" href="#">
                                Settings
                            </a>
                            
                            <a class="navbar-item" href="/auth/logout">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <hr>
        <div class="container is-max-desktop">
            <div class="notification is-inactive is-light box">
                No Content for now
            </div>
        </div>
    </section>
</body>
<footer>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            // document.querySelectorAll returns a NodeList, which is iterable
            const $navbarBurgers = document.querySelectorAll('.navbar-burger');

            // Add a click event on each of them using for...of
            for (const el of $navbarBurgers) { // Iterate directly over the NodeList
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            }

        });
    </script>
</footer>
</html>