{% include 'base/header.html' %}

<body>
    <section class="section">
        <nav>
            <ul>
                <li><a class="button is-primary is-outlined" href="/clients">Back</a></li>
            </ul>
        </nav>
        <hr>
        <div class="container is-max-desktop">
            {% if error %}
            <div class="notification is-danger is-light box">
                Error: {{ error }}
            </div>
            {% endif %}

            <form class="box">
                <div class="field">
                    <label class="label" for="name">Name</label>
                    <div class="control">
                        <input class="input" type="text" id="name" name="name" value="{{ client_details.name }}" readonly>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="address">Address</label>
                    <div class="control">
                        <input class="input" type="text" id="address" name="address" value="{{ client_details.address }}" readonly>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Contact Person</label>
                    <div class="control">
                        <input class="input" type="email" id="contact_person"
                        name="contact_person"  value="{{ client_details.contact_person }}" readonly>
                    </div>
                </div>
                
                <div class="field">
                    <label class="label" for="address">Country</label>
                    <div class="control">
                        <input class="input" type="text" id="country" name="country" value="{{ client_details.country }}" readonly>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Phone Number</label>
                    <div class="control">
                        <input class="input" type="tel" id="phone_number"
                            name="phone_number" value="{{ client_details.phone_number }}" readonly>
                    </div>
                </div>

                <div class="field">
                    <label class="label">ONRC Registration Number</label>
                    <div class="control">
                        <input class="input" type="text" id="onrc_no" name="onrc_no" value="{{ client_details.onrc_no }}" readonly>
                    </div>
                </div>
                
                <div class="field">
                    <label class="label">Tax Code (CUI)</label>
                    <div class="control">
                        <input class="input" type="text" id="cui" name="cui" value="{{ client_details.cui }}" readonly>
                    </div>
                </div>
            </form>
        </div>

    </section>
</body>

{% include 'base/footer.html' %}
