{% include 'base/header.html' %}

<body>
    <section class="section">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/dashboard/home">
                    PFA Manager
                </a>
                <button class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"
                    type="button">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/clients">
                        Clients
                    </a>

                    <a class="navbar-item is-active" style="color: #F2F2F2;" href="#">
                        Invoices
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            My Username
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="#">
                                Edit
                            </a>
                            <a class="navbar-item" href="#">
                                Settings
                            </a>

                            <a class="navbar-item" href="/auth/logout">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <hr>
        <div class="container is-max-desktop">
            <div class="buttons is-right">
                <a class="button is-primary" href="/invoices/add">Add</a>
            </div>
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Client</th>
                        <th scope="col">Issue Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoice_list %}
                    <tr>
                        <th scope="row">{{ invoice.name }}</th>
                        <td>{{ invoice.client_name }}</td>
                        <td>{{ invoice.invoice_date }}</td>
                        <td>{{ invoice.status }}</td>
                        <td>
                            <div class="buttons">
                                <a class="button is-info is-small is-rounded" href="{{ invoice.id }}/view" target="_blank">View</a>
                                {% if invoice.status != "Draft" %} <!-- TODO: Change this to == after development is done -->
                                <a class="button is-link is-small is-rounded" href="{{ invoice.id}}/items">Add Items</a>
                                <a class="button is-warning is-small is-rounded" href="{{ invoice.id }}/edit">Edit</a>
                                <a class="button is-danger is-small is-rounded" href="#">Delete</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </section>
</body>

{% include 'base/footer.html' %}