{% include 'base/header.html' %}

<body>
    <section class="section">
        <nav>
            <ul>
                <li><a class="button is-primary is-outlined"
                        href="/clients/{{ client_id }}/contracts/{{ contract_id }}/wo">Back</a></li>
            </ul>
        </nav>
        <hr>
        <div class="container is-max-desktop">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="notification is-success is-light box">
                <li>
                    {{ message }}
                </li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% if error %}
            <div class="notification is-danger is-light box">
                Error: {{ error }}
            </div>
            {% endif %}

            {% if wo %}
            <form action="/clients/{{ client_id }}/contracts/{{ wo.contract_id }}/wo/{{ wo.id }}/edit" method="post"
                class="box">
                <div class="field">
                    <label class="label" for="name">Name *
                        <div class="control">
                            <input class="input" type="text" id="name" name="name" value="{{ wo.name }}" required>
                        </div>
                    </label>
                </div>
                <div class="field">
                    <label class="label" for="final_client">Final Client *
                        <div class="control">
                            <input class="input" type="text" id="final_client" name="final_client"
                                value="{{ wo.final_client }}" required>
                        </div>
                    </label>
                </div>
                <div class="field">
                    <label class="label" for="client_project_code">Client Project Code *
                        <div class="control">
                            <input class="input" type="text" id="client_project_code" name="client_project_code"
                                value="{{ wo.client_project_code }}" required>
                        </div>
                    </label>
                </div>
                <div class="field">
                    <label class="label" for="start_date">Start Date *
                        <div class="control">
                            <input class="input" type="date" id="start_date" name="start_date"
                                value="{{ wo.start_date }}" required>
                        </div>
                    </label>
                </div>
                <div class="field">
                    <label class="label" for="end_date">End Date *
                        <div class="control">
                            <input class="input" type="date" id="end_date" name="end_date" value="{{ wo.end_date }}"
                                required>
                        </div>
                    </label>
                </div>

                <div class="field">
                    <label class="label">Price *
                        <div class="control">
                            <input class="input" type="number" step="0.01" id="price" name="price"
                                value="{{ wo.price }}" required>
                        </div>
                    </label>
                </div>
                <div class="field">
                    <label class="label">Currency *
                        <div class="control">
                            <div class="select">
                                <select id="currency" name="currency">
                                    {% if wo.currency == "Euro" %}
                                    <option selected="selected">Euro</option>
                                    {% else %}
                                    <option>Euro</option>
                                    {% endif %}
                                    {% if wo.currency == "Lei" %}
                                    <option selected="selected">Lei</option>
                                    {% else %}
                                    <option>Lei</option>
                                    {% endif %}
                                    {% if wo.currency == "USD" %}
                                    <option selected="selected">USD</option>
                                    {% else %}
                                    <option>USD</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="field">
                    <label class="label">Measurement Unit *
                        <div class="control">
                            <div class="select">
                                <select id="measurement_unit" name="measurement_unit">
                                    {% if wo.measurement_unit == "Hourly" %}
                                    <option selected="selected">Hourly</option>
                                    {% else %}
                                    <option>Hourly</option>
                                    {% endif %}
                                    {% if wo.measurement_unit == "Project Based" %}
                                    <option selected="selected">Project Based</option>
                                    {% else %}
                                    <option>Project Based</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary">Submit</button>
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            </form>
            {% endif %}
        </div>

    </section>
</body>

{% include 'base/footer.html' %}