<footer>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            // document.querySelectorAll returns a NodeList, which is iterable
            const $navbarBurgers = document.querySelectorAll('.navbar-burger');

            // Add a click event on each of them using for...of
            for (const el of $navbarBurgers) { // Iterate directly over the NodeList
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            }

        });
    </script>
</footer>

</html>